@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

  body { 
    font-family: Josephin Sans, sans-serif;
    font-weight: 300;
    color:#687E8D;
    
  }
  
  /*headings and logo*/

  h1, h2 {
    font-family: Dancing script, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3B4754;
    
  }

  .motto {
    text-align: center;
    margin-top: 30px;
  }

  #logo {
     float: left;
     font-size: 500%;
     margin-left:20px;
  }

  /*navigation links*/

  #menu {
    font-size: 200%;
    letter-spacing: 2px;
  }

  #menu, #logo {
    line-height: 75px;

  }

  #menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
  }

  #menu a {
    text-decoration: none;
    color: inherit;
  }

  #menu a:hover {
    border-bottom: 1px solid #3B4754;
  }

  .active {
    border-bottom: 1px solid #3B4754;;
  }

  /*hero image*/

  #hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-imagewebp.webp") no-repeat center center;
    background-size: cover;
     }

 #hero-adjustement {
    padding-top: 75px;
 }

 .images {
    display: flex;
   
 }

 .images > .img1, .images > .img2, .images > div {
    width: 33%;
 }

 .benefits {
    text-align: center;
    overflow: hidden;
    display: inline-block;
 }
 
 h3 {
    text-align: center;
    text-transform: capitalize;
 }

 p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
 }
   

 
 table {
    border-collapse: separate;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    
 }

 th, td {
    padding: 8px;
    border-bottom: 1px solid;
    text-align: center;
 }
 
 /* footer */

 footer {
    height: 150px;
 }

 .social-media {
    text-align: center;
    background-color:#D55864;
 }

 /*targeting the child*/
 .social-media > li {
    display: inline;
 }

 .social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fbf5f3
    
 }

 address {
    text-align: center;
    padding-top: 10px;
 }

