@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

p {
    font-family: "Josefin Sans", serif;
}

li {
    font-family: "Josefin Sans", serif;
}

#logo {
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: "Dancing script", serif;
}

#gallery-images-container {
    display: flex;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#gallery-images-container img {
    height: 300px;
    width: 400px;
}

.left-gallery {
    width: 50%;
}

.right-gallery {
    width: 50%;
}

.menu-home, .menu-signup, .menu-gallery {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: "Dancing script", serif;
}

.menu-home:hover, .menu-signup:hover, .menu-gallery:hover {
    border-bottom: 1px solid #3B4754;
}

.active {
    border-bottom: 1px solid #3B4754;
}

.container {
    text-align: justify;
    margin-left: 6%;
    margin-right: 6%;
}

.inner-container {
    display: flex;
}

.inner-container img {
    max-width: 33%;
}

#menu {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.about-studio {
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cover {
    width: 100%;
}

.agenda-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-content {
    padding: 2%;
    margin: auto;
}

.text-content li {
    list-style-type: none;
}

table {
    border-collapse: separate;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid;
    text-align: center;
}

.agenda-table {
    text-align: center;
    margin: auto;
}

.agenda-mobile {
    display: none;
}

.social-media {
    text-align: center;
    background-color: #D55864;
}

.signup-form {
    position: relative;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fbf5f3;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
}

.signup-form label {
    padding: 2%;
    font-weight: bold;
}

.registration-title {
    text-align: center;
}

.signup-form input {
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 1%;
}

.signup-form-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

#submit-btn {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    background-color: #D55864;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

address {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 2%;
}

/*TABLET*/
@media screen and (max-width: 1024px) {
    .inner-container {
        display: block;
        text-align: center;
    }

    .inner-container img {
        max-width: 100%;
    }

    .agenda-table {
        display: none;
    }

    .agenda-mobile {
        display: flex;
        justify-content: space-around;
    }

    .day {
        padding-bottom: 15%;
    }

    .day-name {
        font-weight: bold;
    }

    #gallery-images-container {
        display: block;
    }

    .left-gallery {
        width: 100%;
    }

    .right-gallery {
        width: 100%;
    }
}

/*MOBILE*/
@media screen and (max-width: 480px) {
    #gallery-images-container img {
        height: 150px;
        width: 200px;
    }

    #menu {
        flex-direction: column;
    }

    .menu-home, .menu-gallery, .menu-signup {
        padding: 2%;
        font-size: 15px;
    }

    #logo {
        font-size: 20px;
    }

    .agenda-mobile {
        display: block;
        text-align: center;
        margin: auto;
    }
}